body{
    background-size: cover;
    background-color: black;
    text-align: center;
    font-size: medium;
    font: 12px Verdana, sans-serif;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a5e6ba ;
    color: #a5e6ba;
    text-align: right;
}

.sobremim{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #7b8a84;
    border: 1px solid black;
}

a { text-align: left;} 

u { color: blue;}
  
  h1{color: white;}

  h2{color:white}

  p{font-size: large; color: white;}
